input[type="radio"], input[type="checkbox"] {
  margin-left: 10px;
  position: relative;
}

label {
  display: block;
}

.radio-group {
  display: inline-block;
  margin: 5px;
  label {
    font-weight: 100;
    display: inline-block;
  }
}

.form-devise {
  margin-bottom: 96px;
  margin-top: $small-pad;
  width: 100%;
}

.navbar-form {
  border-color: transparent !important;
}
