header.materialize  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  nav {
    height: $big-pad;
    .nav-wrapper {
      padding:0 $medium-pad;
    }
    .brand-logo {
      filter: invert(100%);
      float: left;
      display: block;
      height: $big-pad;
      position: relative;
      img {
        height: 50px;
        margin-top: 7px;
      }
    }
    form {
      float: left;
      height: calc(100% - 6px);
      margin-left: $small-pad;
      height: 100%;
      input[type="search"].form-item {
        height: 35px;
        margin: 0;
        font-size: 13px;
      }
    }
    .material-icons {
      font-size: 1em;
    }
    ul {
      a {
        font-size: 13px;
        &:hover {
          background: rgba(200, 200, 200, .2);
        }
      }
    }
  }
}

