body {
  padding-top: $big-pad;
  font-family: $main-font;
  padding-bottom: $big-pad;
  font-weight: 300;
}

label {
  display: block;
  margin-bottom: 10px;
}

p {
  padding: $small-pad 0; 
}

#turbolinks-progress-bar {
  background-color: $color-3;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-height {
  min-height: 600px;
  min-height: 100vh;
}


.wrapper {
  width: 1080px;
  display: block;
  margin: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.uppercase {
  text-transform: uppercase;
}

.code {
  font-family: $code-font !important;
  text-transform: none !important;
}

@media screen and (max-width: 1180px) {
  .wrapper {
    width: 90%;
  }
}





