body {
  padding-top: $big-pad;
  font-family: $main-font;
  padding-bottom: $big-pad;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-height {
  height: 100vh;
  min-height: 600px;
}

.margin-top-big {
  margin-top: $big-pad;
}

.margin-top-medium {
  margin-top: $medium-pad;
}

.padding-top-medium {
  padding-top: $medium-pad;
}


.wrapper {
  width: 1080px;
  display: block;
  margin: auto;
}

.left {
  float: left;
}

.uppercase {
  text-transform: uppercase;
}

.code {
  font-family: $code-font !important;
  text-transform: none !important;
}

@media screen and (max-width: 1180px) {
  .wrapper {
    width: 90%;
  }
}

label {
  display: block;
  margin-bottom: 10px;
}
.form-text {
  color: #666;
  font-size: .9em;
  font-weight: 300;
}
input[type="checkbox"] + label {
  display: inline-block;
}
.actions {
  text-align: right;
}

.btn {
  padding: 5px 10px;
  border: 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 300;
  border-radius: 0px;
  &.big {
    font-size: 1em;
    padding: 10px 15px;
  }
  @include transition(.4s ease-in);
  &.btn-light {
    background-color: white;
    color: black;
    border: 2px solid white;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  &.btn-colored {
    background-color: $color-3;
    color: black;
    border: 2px solid $color-3;
    &:hover {
      background-color: $color-2;
      border: 2px solid $color-2;
      color: black;
    }
  }
  &.btn-dark {
    background-color: $color-1;
    border: 2px solid $color-1;
    color: white;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}

h2, h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: $medium-pad;
  font-size: 1.7em;
  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 5px;
    width: 80px;
    background-color: $color-2;
  }
}
