
$small-pad : 16px;
$medium-pad : 32px;
$big-pad : 64px;
$sidebar-w : 300px;

$color-1: #222;
$color-1-dark: #444444; 
$color-2: #ffcd38;
$color-3: #ffdd67;
$color-4: #f3f3f3;

$code-font:"Inconsolata";
$main-font: "Roboto";

$header-height: 60px; 

$radius: 6px;

$input-width: 120px;
$input-height: 25px;