<h1>Editing Snippet Version</h1>

<%= render 'form', snippet_version: @snippet_version %>

<%= link_to 'Show', @snippet_version %> |
<%= link_to 'Retour', snippet_path(@snippet_version.snippet_id) %>
