<div class="last-snippets">
  <h2><%= t("snippet.index.title") %></h2>
  <div class="snippets list-drop-down">
    <% @snippets.each do |snippet| %>
    <%= render "product-drop-down", snippet: snippet %>
    <% end %>
  </div>
  <%= link_to t("snippet.actions.new"), new_user_snippet_path(user_id: @user), class:"btn btn-colored" %>
</div>
