


  <div class="row snippet-form">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><%= t("snippet.actions.new") %></h1>
      <%= render 'form', snippet: @snippet %>
      <%= link_to t("actions.back"), user_snippets_path(user_id: @user), class:"btn btn-dark" %>
    </div>
  </div>
