.btn, .materialize .btn {
	
	display: inline-block;
	background-color: $color-2; 
	color: $color-1;
	text-decoration: none;
	padding: 10px $small-pad;
	border-radius: $radius;
	border: 0;
	line-height: 20px;

	&--colored {

	}
	&--dark {

	}
	&--active, &:hover {

	}
	&__ico {
		padding-left: $medium-pad+$small-pad/2;
		background-repeat: no-repeat;
		background-position: 15px center;
		background-size: 15px;
		&--danger {
			background-image: image-url("delete");
			background-color: #FF6E3D;
			color: white; 
		}
	}


	// Picto
	&__ico {

	} 
	&--background {

	}

}