.btn {
	
	display: inline-block;
	padding: 5px 10px; 
	background-color: $color-2; 
	color: $color-1;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 6px;

	&--colored {

	}
	&--dark {

	}
	&--active, &:hover {

	}

	// Picto
	&__ico {

	} 
	&--background {

	}

}