.btn, .materialize .btn {
	
	display: inline-block;
	background-color: $color-2; 
	color: $color-1;
	text-decoration: none;
	padding: 10px $small-pad;
	border-radius: $radius;
	border: 0;
	line-height: 20px;

	&--colored {

	}
	&--dark {

	}
	&--active, &:hover {

	}

	// Picto
	&__ico {

	} 
	&--background {

	}

}