.profil {

	margin: $medium-pad;
	border-bottom: 1px solid #DDD; 
	min-height: $big-pad+20px;

	&__avatar {
		display: inline-block;
		width: $small-pad*3; 
		height: $small-pad*3; 
		border-radius: $radius;
		background-color: #DDD; 
		float: left;
	}


	&__info-container { 
		display: inline-block;
		width: calc(100% - #{$big-pad});
		padding-left: $small-pad;
	}
	&__pseudo {
		font-size: 20px; 
		padding-bottom: $small-pad/2;
	}
	&__fullname {
		font-size: 15px;
	}
	

	&__edit-btn, &__starred-btn {
		right: $medium-pad;
		top: $medium-pad;
		height: 3*$small-pad;
		width: 3*$small-pad;
		position: absolute;
		background-repeat: no-repeat;
		background-position: 100% center;
		background-size: 50%;
	}

	&__edit-btn {
		background-image: image-url("pencil-light");
	}
	
	&__starred-btn {
		background-image: image-url("pencil-light");
	}



}

.profil-description {
	margin: $medium-pad;
	border-bottom: 1px solid #DDD; 
	padding-bottom: $small-pad+$small-pad/2;
	&__content {
		font-style: italic; 
		font-size: $size-small;
		line-height: 15px;
		margin-bottom: $medium-pad;
	}
}