.list-drop-down {
  padding-bottom: 100px;
  .drop-down-item {
    position: relative;
    display: block;
    &.drop-hidden {
      .drop-body {
        max-height: 0;
        // opacity: 0;
      }
    }
    &.drop-visible {
      .drop-header {
        &::before {
          height: 10px;
        }
        &:hover::before {
          height: 1px;
        }
      }
      .drop-body {
        max-height: 400px;
        // opacity: 1;
      }
    }
    .drop-deploy-button {
      position: absolute;
      left: -40px;
      background-color: white;
      border: 0;
      padding: 4px;
      width: 40px;
      text-align: right;
      font-size: 1.5em;
      font-weight: 200;
      padding-right: 10px;
    }
    .drop-header {
      position: relative;
      background-color: transparent;
      &:hover {
        &::before {
          height: 10px;
        }
      }
      &::before {
        content:"";
        height: 1px;
        width: 100%;
        background-color: #CCC;
        position: absolute;
        top: 15px;
        left: 0;
        z-index: -1;
        @include transition(.4s);
      }
      .info {
        display: inline-block;
        float: left;
        padding: 8px 10px;
        background-color: black;
        color: white;
        font-weight: 100;
        height: $medium-pad;
        border: 0;
      }
      .drop-header-title {
        display: inline-block;
        font-family: $code-font;
        color: #AAA;
        background-color: white;
        font-size: 1.4em;
        padding: 5px $small-pad;
      }
      .drop-header-right {
        display: inline-block;
        float: right;
        .date {
          display: inline-block;
          padding: 8px 0 8px 10px;
          background-color: white;
        }
      }

    }
    .drop-body {
      padding-top: $small-pad;
      margin-bottom: $small-pad;
      padding-left: $medium-pad;
      overflow: hidden;
      @include transition(.2s ease-in);
      .code {
        width: 50%;
        display: inline-block;
        float: left;
      }
      .content {
        display: inline-block;
        float: left;
        width: calc(50% - 32px);
        padding: 0 $medium-pad;
        .description {

        }
      }

    }
  }

}
