// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-show {
  h1, h2 {
    &::after {
      display: none;
    }
  }
  h1 {
    text-transform: none;
    margin-bottom: 5px;
    padding-bottom: 0;
    font-weight: 400;
    color: #444;
  }
  h2 {
    text-transform: none;
    font-size: 1em;
    color: #9c9c9c;
    margin-bottom: 0;
    font-weight: 200;
  }
  .head-content {
    height: 100px;
    .links {
      position: relative;
      width: 300px;
      text-align: right;
      .rs-link {
        background-repeat: no-repeat;
        background-position: left;
        background-size: 25px;
        overflow: hidden;
        max-width: 30px;
        height: 30px;
        padding-left: 40px;
        display: inline-block;
        margin: 0 $small-pad/2;
        @include transition(.4s ease-in);
        span {
          position: absolute;
          bottom: -15px;
          width: 100%;
          right: 0;
          opacity: 0;
          visibility: hidden;
        }
        &:hover {
          span {
            opacity: 1;
          }
        }
        &.github {
          background-image: image-url("github.png");
        }
        &.website {
          background-image: image-url("website.png");
        }
        &.email {
          background-image: image-url("email.png");
        }
      }
    }
  }
  .body-content {
    clear: both;
    .head-select {
      ul {
        border-bottom: 1px solid #e4e4e4;
        display: flex;
        justify-content: space-around;
        padding-bottom: 21px;
        position: relative;
        color: attr(data-rank);
        span {
          height: 2px;
          width: 16.6666%;
          background-color: $color-3;
          left: 0; bottom: -1px;
          position: absolute;
          @include transition(.4s);
        }
        li.item-head-select {
          flex: 1;
          display: block;
          text-align: center;
          a {
            font-weight: 300;
            color: #444;
            text-decoration: none;
            height: 15px;
            max-height: 15px;
            @include transition(.4s);
            @include transform(scale(1) translateZ(0));
            display: inline-block;
            &.active {
              @include transform(scale(1.3) translateZ(0));
            }
          }
        }
      }
    }
    .body-select {
      font-weight: 300;
      margin-bottom: 32px;
      width: 100%;
      position: relative;
      height: 100vh;
      .container-select {
        @include transition(.7s);
        width: 600%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
      }
      .item-body-select {
        display: block;
        border-bottom: 1px solid #e4e4e4;
        display: block;
        padding: 32px;
        width: calc(100% / 6);
        &.active {
          display: block;
        }
        &:target {
          display: block;
        }
        &#setting-item {
          text-align: center;
        }
      }
    }
  }
}
