// CK editor used for Snippet#show
#code{
  .code-version {
    &.visible {
      display: block;
    }
    &.hidden {
      display: none;
    }
  }
}

//Surchage Materialize
.snippet_show_form {
	padding-left: 0 !important; 
	padding-right: $medium-pad !important;
}
.snippet_show_ck {
	padding-right: 0 !important;
	height: calc(100vh - 200px);
}
