<div class="search-helper">
	<div class="search-helper__item">
		<label for="" class="search-helper__item-label">Recherche par tags</label>
		<input type="text" class="form-item form-item__search">
	</div>

	<div class="search-helper__item">
		<label for="" class="search-helper__item-label">Trier par</label>
		<div class="form-item form-item__select-container">
		  <select class="form-item__select">
		    <option value="alpha">Ordre alphabétique</option>
		    <option value="starred">Nombre de starred</option>
		    <option value="date">Date</option>
		  </select>
		</div>
	</div>
	
	<div class="search-helper__item">
		<label for="" class="search-helper__item-label">Ordre</label>
		<input type="text" class="form-item form-item__search">
	</div>

	<div class="search-helper__item">
		<label for="" class="search-helper__item-label">Filtrer</label>
		<input type="text" class="form-item form-item__search">
	</div>
</div>